{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="row grid m-5 flex-align-center text-center ">
    <div class="cell-3 p-5 ">
        <form method="post">

            {% if error %}
            <div class="bg-red fg-white">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="mb-3-md">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}

            <h1> Connexion</h1>

            <input type="email" placeholder="Entrez votre email" value="{{ last_username }}" name="email"
                id="inputEmail" class="metro-input" autocomplete="email" required autofocus>

            <input type="password" placeholder="Entrez votre mot de passe" name="password" id="inputPassword"
                class="metro-input" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me
            functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            #}
            <input type="checkbox" data-role="checkbox" data-caption="Remember me">
            
            <button class="button success" type="submit">
                Valider
            </button>
        </form>
    </div>
</div>
{% endblock %}