<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <!-- Pour les animations -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>{% block title %} Sortir.com {% endblock %}</title>
</head>

<body>
    <div class="grid m-5 p-5">
        <div data-role="appbar" data-expand-point="md">
            <div class="row flex-align-center">
                <div class=" cell-3 text-left">
                    <img src="{{asset('assets/img/logo.jpg')}}" alt="logo sortir.com">
                </div>

                <div class="cell-9 text-right">

                    {# Création d'une variable sur twig #}
                    {% set menuNotConnected = ["Se connecter"] %}
                    {% set menuConnected = ["Accueil","Mon profil","Se deconnecter"] %}
                    {% set menuAdminConnected = ["Villes", "Sites", "Participants", "Accueil","Mon profil","Se deconnecter"] %}
                    {# ,"Mon profil"#}

                    {% if is_granted("ROLE_ADMIN") %}
                        {% set menu = menuAdminConnected %}
                    {% elseif app.user %}
                        {% set menu = menuConnected %}
                    {% else %}
                        {% set menu = menuNotConnected %}
                    {% endif %}
                    <ul class="app-bar-menu">

                        {# Début de la boucle #}
                        {% for ele in menu %}
                        <li>
                            {% if ele == 'Accueil' %}
                                <a href="{{ path('app_sortie_index') }}">ACCUEIL</a>
                            {% elseif ele == 'Mon profil' %}
                                <a href="{{ path('app_monprofil', {'id': app.user.id}) }}">MON PROFIL</a>
                            {% elseif ele == 'Se deconnecter' %}
                                <a href="{{ path('app_sedeconnecter') }}"><span class="icon"><span class="mif-exit"></span></span>({{ app.user.pseudo }})</a>
                            {% elseif ele == 'Villes' %}
                                <a href="{{ path('app_villes') }}">VILLES</a>
                            {% elseif ele == 'Sites' %}
                                <a href="{{ path('app_sites') }}">SITES</a>
                            {% elseif ele == 'Participants' %}
                                <a href="{{ path('app_participants_index') }}">PARTICIPANTS</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {# Fin de la boucle #}

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="grid">
            <div class="row m-5">
                <div class="col-12 flex-align-center text-center ">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>

    </main>

    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <!-- Pour les animations aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();  
</script>
<script src="{{ asset('assets/js/script.js') }}"></script>

</body>

</html>