{% extends 'layouts/base.html.twig' %}

{% block title %}Villes index{% endblock %}
{% block javascript %}{% endblock %}

{% block body %}
    <h1>Gérer les villes</h1>

    <div class="d-flex flex-column flex-align-center">

        {{ include('villes/_filter.html.twig') }}
    </div>
    <div>
        <table class="table striped table-border cell-border cell-center">
            <thead class="text-center">
                <tr>
                    <th>NoVille</th>
                    <th>NomVille</th>
                    <th>CodePostal</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.noVille }}</td>
                    <td>{{ ville.nomVille }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        <a href="{{ path('app_villes_edit', {'noVille': ville.noVille}) }}" class="action-button second yellow"><span class="mif-pencil"></a>
                        <a href="{{ path('app_villes_delete', {'noVille': ville.noVille}) }}" class="action-button second alert"><span class="mif-bin"></span></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-5">
        <a href="{{ path('app_villes_new') }}" class="action-button second success" onmouseover="show3()" onmouseout="out2()"><span class="icon"><span class="mif-plus"></span></span></a>
    </div> 
{% endblock %}
