<div id="d1" style="display:block">
{{ form_start(formSearch) }}

<h4 class="text-left">Filtrer les sorties</h4>
<div class="d-flex flex-row flex-align-center" >
    <div class="d-flex flex-column p-2">
        <div class="d-flex flex-row p-2">
            <div class="d-flex text-left mr-5">
                {{ form_label(formSearch.sites) }}
            </div>
            <div class="mr-5">
                {{ form_widget(formSearch.sites) }}
            </div>
        </div>
        <div class="d-flex flex-row p-2">
            <div class="mr-5">
                {{ form_label(formSearch.nom) }}
            </div>
            <div class="mr-5">
                {{ form_widget(formSearch.nom) }}
            </div>
        </div>
        <div class="d-flex flex-row p-2">
            <div class="mr-5">
                {{ form_label(formSearch.dateDebut) }}
            </div>
            <div class="mr-5">
                {{ form_widget(formSearch.dateDebut) }}
            </div>
            <div class="mr-5">
                {{ form_label(formSearch.dateFin) }}
            </div>
            <div class="mr-5">
                {{ form_widget(formSearch.dateFin) }}
            </div>
        </div>
    </div>
    <div>
        <div class="p-1 text-left">
            {{ form_label(formSearch.isOrganisateur) }}
            {{ form_widget(formSearch.isOrganisateur) }}
        </div>
        <div class="p-1 text-left">
            {{ form_label(formSearch.isInscrit) }}
            {{ form_widget(formSearch.isInscrit) }}
        </div>
        <div class="p-1 text-left">
            {{ form_label(formSearch.isnotInscrit) }}
            {{ form_widget(formSearch.isnotInscrit) }}
        </div>
        <div class="p-1 text-left">
            {{ form_label(formSearch.isSortiePassee) }}
            {{ form_widget(formSearch.isSortiePassee) }}
        </div>
    </div>
    <div class="p-10">
        <button type="submit" class="btn action-button second rotate primary"><span class="icon"><span class="mif-search"></span></span></button>
    </div>
    
</div>
{{ form_end(formSearch) }}
</div>
