{{ form_start(form) }}
<div class="d-flex flex-justify-center flex-align-center">
    <div class="cell-2 p-5 text-left">
        {{ form_label(form.nom) }}
    </div>
    <div class="cell-2 p-5 ">
        {{ form_widget(form.nom) }}
    </div>
    <div class="cell-1 p-5 text-left ">
        Ville organisatrice :
    </div>
    <div class="cell-2 p-5 text-left">
        {{sorty.LieuxNoLieu.villesNoville.nomVille}}
    </div>
</div>
<div class="d-flex flex-justify-center flex-align-center">
    <div class="cell-2 p-5 text-left">
        {{ form_label(form.datedebut) }}
    </div>
    <div class="cell-2 p-5 ">
        {{ form_widget(form.datedebut) }}
    </div>
    <div class="cell-1 p-5 text-left">
        {{ form_label(form.lieuxNoLieu)}}
    </div>
    <div class="cell-2 p-5 ">
        {{ form_widget(form.lieuxNoLieu)}}
    </div>
</div>
<div class="d-flex flex-justify-center flex-align-center">
    <div class="cell-2 p-5 text-left">
        {{ form_label(form.datecloture) }}
    </div>
    <div class="cell-2 p-5 ">
        {{ form_widget(form.datecloture) }}
    </div>
    <div class="cell-1 p-5 text-left ">
        Rue :
    </div>
    <div class="cell-2 p-5 text-left">
        {{sorty.LieuxNoLieu.rue}}
    </div>
</div>
<div class="d-flex flex-justify-center flex-align-center">
    <div class="cell-2 p-5 text-left">
        {{ form_label(form.nbinscriptionsmax)}}
    </div>
    <div class="cell-2 p-5 ">
        {{ form_widget(form.nbinscriptionsmax) }}
    </div>
    <div class="cell-1 p-5 text-left">
        Code Postal :
    </div>
    <div class="cell-2 p-5 text-left">
        {{sorty.LieuxNoLieu.villesNoville.codePostal}}
    </div>
</div>
<div class="d-flex flex-justify-center flex-align-center">
    <div class="cell-2 p-5 text-left">
        {{ form_label(form.duree) }}
    </div>
    <div class="cell-2 p-5 ">
        {{ form_widget(form.duree) }}
    </div>
    <div class="cell-1 p-5 text-left ">
        Latitude :
    </div>
    <div class="cell-2 p-5 text-left">
        {{sorty.LieuxNoLieu.Latitude}}
    </div>
</div>
<div class="d-flex flex-justify-center flex-align-center">
    <div class="cell-2 p-5 text-left">
        {{ form_label(form.descriptioninfos)}}
    </div>
    <div class="cell-2 p-5 ">
        {{ form_widget(form.descriptioninfos) }}
    </div>
    <div class="cell-1 p-5 text-left">
        Longitude :
    </div>
    <div class="cell-2 p-5 text-left">
        {{sorty.LieuxNoLieu.Longitude}}
    </div>
</div>

<button class="button primary mif-floppy-disk">{{ button_label|default('Enregistrer')}}</button>
<a href="{{ path('app_sortie_index', {'noSortie': sorty.noSortie}) }}" class="action-button second warning"><span class="mif-undo"></span></a>
<a href="{{ path('app_sortie_delete', {'noSortie': sorty.noSortie}) }}" class="action-button second alert"><span class="mif-bin"></span></a>
    

{{ form_end(form) }}
</div>