{% extends 'layouts/base.html.twig' %}

{% block title %}Sorties index{% endblock %}
{% block javascript %}{% endblock %}

{% block body %}
    <h1>Sorties index</h1>

    <table class="table flex-align-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Date </th>
                <th>Duree</th>
                <th>Date de cloture des inscriptions</th>
                <th>Nombre d'inscrits (todo)</th>
                <th>Etat</th>
                <th>Inscrits</th>
                <th>Organisateurs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sorty in sorties %}
            <tr>
                <td>{{ sorty.noSortie }}</td>
                <td>{{ sorty.nom }}</td>
                <td>{{ sorty.datedebut ? sorty.datedebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sorty.duree }}</td>
                <td>{{ sorty.datecloture ? sorty.datecloture|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sorty.nbinscriptionsmax }}</td>
                <td>{{  sorty.duree }}</td>
                <td>{{  sorty.duree }}</td>
                <td>{{ sorty.descriptioninfos }}</td>
                <td><a href="{{ path('app_participants_show', {'pseudo': sorty.organisateur}) }}">{{ sorty.organisateur }}</a></td>
              
                <td>
                    <a href="{{ path('app_sortie_show', {'noSortie': sorty.noSortie}) }}" class="action-button second primary" id="buttonShow"><span class="mif-eye"></span></a>
                    <a href="{{ path('app_sortie_edit', {'noSortie': sorty.noSortie}) }}" class="action-button second yellow"><span class="mif-pencil"></a>
                    <a href="{{ path('app_sortie_annuler', {'noSortie': sorty.noSortie}) }}">annuler</a>
                    {# <a href="{{ path('app_inscription_new', {'noSortie': sorty.noSortie, 'id': app.user.id}) }}">s'inscrire</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_sortie_new') }}" class="action-button rotate success "><span class="icon"><span class="mif-plus"></span></span></a>
    <p>Créer une sortie</p>
    {# // <script src="{{ asset('assets/js/script.js') }}"></script> #}
{% endblock %}
