{% extends 'layouts/base.html.twig' %}

{% block title %}Sorties index{% endblock %}
{% block javascript %}{% endblock %}

{% block body %}
    <h1>Sorties index</h1>
<div class="row">
        {{ include('sortie/_filter.html.twig') }}
</div>
<div class="row">
    <table class="table flex-align-center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Datedebut</th>
                <th>Datecloture</th>
                <th>Inscrits/Place</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Oragnisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sorty in sorties %}
            <tr>
                <td>{{ sorty.nom }}</td>
                <td>{{ sorty.datedebut ? sorty.datedebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sorty.datecloture ? sorty.datecloture|date('Y-m-d H:i:s') : '' }}</td>
                <td>Hewwo World{#Count inscriptions where id sortie = id de cette sortie    / sorty.nbinscriptionsmax#}</td>
                <td>{{ sorty.etatsNoEtat }}</td>
                <td>X {#  if inscriptions with app.user.id et id sortie alors "X" else " "  #}</td>
                <td><a href="{{ path('app_participants_show', {'pseudo': sorty.organisateur}) }}">{{ sorty.organisateur }}</a></td>
              
                <td>
                    <a href="{{ path('app_sortie_show', {'noSortie': sorty.noSortie}) }}" class="action-button second primary" id="buttonShow"><span class="mif-eye"></span></a>
                    <a href="{{ path('app_sortie_edit', {'noSortie': sorty.noSortie}) }}" class="action-button second yellow"><span class="mif-pencil"></a>
                    <a href="{{ path('app_sortie_annuler', {'noSortie': sorty.noSortie}) }}">annuler</a>
                    <a href="{{ path('app_inscriptions_new') }}">s'inscrire</a>
                    {# <a href="{{ path('app_inscription_new', {'noSortie': sorty.noSortie, 'id': app.user.id}) }}">s'inscrire</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}" class="action-button rotate success "><span class="icon"><span class="mif-plus"></span></span></a>
    <p>Créer une sortie</p>
    {# // <script src="{{ asset('assets/js/script.js') }}"></script> #}
{% endblock %}
